<%- include('includes/head', {pageTitle: '505'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Error 505</h1>
        <p>We have encountered an error, leave that unto us, we'll fix it soon</p>
        <p class="btn"><a href="/">Back to safety!</a></p>        
    </main>
<%- include('includes/footer') %> 